<div class="message">
  <div class="upper-message">
    <div class="message-user">
      <!-- 投稿したユーザー名情報を出力する -->
      <%= message.user.name %>
    </div>
    <div class="message-date">
      <!-- 投稿した時刻を出力する -->
      <%= l message.created_at %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <!-- 投稿したメッセージ内容を記述する -->
      <% edit_message = message.content%>
      <% @blacklist.each do |list| %>
        <% if message.content.include?(list.word) && list.flag %>
          <% str = ""%>
          <% num = list.word.length %>
          <% num.times do %>
            <% str += "※" %>
          <% end %>
          <% edit_message = edit_message.gsub(list.word, str ) %>
        <% end %>
      <% end %>
      <%= edit_message %>
    </div>
    <%= image_tag message.image.variant(resize: '500x500'), class: 'message-image' if message.image.attached? %>
  </div>
</div>